<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Django Celery and RabbitMQ on cloudControl" />
    <meta name="keywords" content="python,celery,cloudControl,django" />
    <meta name="author" content="Louis Opter <louis@dotcloud.com>" />
    <meta name="author" content="Dimitris Verraros <vervas.g@gmail.com>" />

    <link rel="stylesheet" href="{{ STATIC_URL }}reset.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ STATIC_URL }}screen.css" type="text/css" media="screen, projection">

    <title>Django Celery on cloudControl</title>
</head>

<body>
    <div id="container">
        <div class="title">
            <h1>{% block title %}{% endblock %}</h1>
            <ul class="navbar">
                <li><a href=/jobs/>Jobs</a></li>
                <li id="editor-link"><a href=/editor/>Editor</a></li>
            </ul>
        </div>

        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        <p>A cloudCloud/Django/Celery example. <a href="https://github.com/cloudcontrol/django-celery-example-app">Get the source!</a></p>
    </div>
</body>
</html>
